#avatar {
  margin: 0 auto;
  position: relative;
  z-index: 0;
  height: 109.25px;
  width: 1920px;
}

#name {
  position:absolute;
  z-index: 3;
  width: 100%;
  top: 14px;
  height: fit-content;
  text-align: center;
}

#avatar img {
  width:1920px;
}

